{% extends 'auth/templates/base.html' %}

{% block content %}
<h1>Authentication</h1>

{% if user %}
<p style="font-size: 1.4em;">
    You are currently logged in as<br /><b>{{user.user_id}}</b> via <b>{{user.user_type}}</b>.
</p>
<p>
    <a href="{% url auth.views.logout %}">logout</a>
</p>

{% else %}
{% for auth_system in auth_systems %}
<p>
    <a href="{% url auth.views.start system_name=auth_system %}{% if return_url %}?return_url={{return_url}}{% endif %}"><img border="0" src="{{MEDIA_URL}}login-icons/{{auth_system}}.png" /> {{auth_system}}</a>
</p>
{% endfor %}

{% endif %}
{% endblock %}
