{% extends 'auth/templates/base.html' %}

{% block content %}
<h1>Authentication</h1>

{% if user %}
<p style="font-size: 1.4em;">
    You are currently logged in as<br /><b>{{user.user_id}}</b> via <b>{{user.user_type}}</b>.
</p>
<p>
    <a href="{% url auth.views.logout %}">logout</a>
</p>

{% else %}
<p>
    <a href="{% url auth.views.start system_name="twitter" %}{% if return_url %}?return_url={{return_url}}{% endif %}"><img border="0" src="{{MEDIA_URL}}signin-with-twitter.png" /></a>
</p>


<p>
    <a href="{% url auth.views.start system_name="password" %}{% if return_url %}?return_url={{return_url}}{% endif %}">password</a>
</p>
{% endif %}
{% endblock %}
